node_modules
dist
dist-ssr
*.local
src-tauri/target
src-tauri/gen/*
!src-tauri/gen/android/
src-tauri/gen/android/*
!src-tauri/gen/android/app/
src-tauri/gen/android/app/*
!src-tauri/gen/android/app/src/
src-tauri/gen/android/app/src/*
!src-tauri/gen/android/app/src/main/
src-tauri/gen/android/app/src/main/*
!src-tauri/gen/android/app/src/main/java/
src-tauri/gen/android/app/src/main/java/*
!src-tauri/gen/android/app/src/main/java/com/
src-tauri/gen/android/app/src/main/java/com/*
!src-tauri/gen/android/app/src/main/java/com/kaileanokeefe/
src-tauri/gen/android/app/src/main/java/com/kaileanokeefe/*
!src-tauri/gen/android/app/src/main/java/com/kaileanokeefe/guntimer/
src-tauri/gen/android/app/src/main/java/com/kaileanokeefe/guntimer/*
!src-tauri/gen/android/app/src/main/java/com/kaileanokeefe/guntimer/MainActivity.kt
